site_name: {{project_name}}
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - content.action.edit
    - toc.integrate
nav:
  - Home: index.md
  - Docs:
      - Features: feature.md
      - Architecture: architecture.md
